
<h1>Sample App Home Page</h1>
<p>This is the page for <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application.
</p>		

	<%= link_to "Sign up Now!", signup_path, :class => "signup_button round" %>





